<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Capture</title>
</head>
<body>
<audio id="waterSound" src="water_audio.opus"></audio>
<!--<audio id="otherSound" src="other.mp3"></audio>-->
<!-- Add similar elements for other sounds -->

    <h1>Webcam Capture</h1>
    <button id="startCapture">Start Capture</button>
    <button id="stopCapture">Stop Capture</button>
   <button id="listeningButton" onclick="playSound()">Listen</button>
    <div>
        <img id="videoFeed" src="{{ url_for('video_feed') }}" alt="Video Feed">
    </div>
    <script>
        function playSound() {
    // Replace this with your gesture recognition logic
    var numberOfFingers = getNumberOfFingers(); // Implement this function

    // Determine which sound to play based on the number of fingers
    var soundId;
    if (numberOfFingers === 1) {
      soundId = "waterSound";
    } else {
      soundId = "otherSound";
    }

    // Play the selected sound
    var sound = document.getElementById(soundId);
    sound.play();
  }

        document.addEventListener('DOMContentLoaded', function() {
            const startCaptureButton = document.getElementById('startCapture');
            const stopCaptureButton = document.getElementById('stopCapture');
            const videoFeed = document.getElementById('videoFeed');

            startCaptureButton.addEventListener('click', function() {
                fetch('/start_capture')
                    .then(response => response.text())
                    .then(data => console.log(data))
                    .catch(error => console.error(error));
            });

            stopCaptureButton.addEventListener('click', function() {
                fetch('/stop_capture')
                    .then(response => response.text())
                    .then(data => console.log(data))
                    .catch(error => console.error(error));
            });

            function updateVideoFeed() {
                videoFeed.src = '/video_feed?' + new Date().getTime();
            }

            setInterval(updateVideoFeed, 1000); // Update the video feed every second
        });
    </script>
</body>
</html>
